$("#commentlist").append("<%= escape_javascript(render(@comment)) %>"); // render
$("#comments_count").html('<h4> <span> <%= @article.comments.count.to_s() %> </span> KOMENTARZY </h4>');
$('#comment_<%= @comment.id %>').slideUp(0).fadeIn(1000); //hack - z niewiadomych przyczyn samo FadeIn nie działa...
$("#new_comment")[0].reset(); // reset form



  


