$("#comments_count").html('<h4> <span> <%= @article.comments.count.to_s() %> </span> KOMENTARZY </h4>');
$('#comment_<%= @comment.id %>').fadeOut(); // znikający komentarz
$("#new_comment")[0].reset(); // reset form



