- form_for ([:admin, @article], :html => { :multipart => true }) do |f|
  = errors_for(@article, "Opps, unable to add new article").html_safe
  = render :partial => "form", :locals => {:f => f}
  = f.submit "Zapisz artykuł"



