<div class = "post">
<br>
<h3> O stronie </h3>
<li>
<h4>
<b>Konkursy internetowe</b> to serwis skupiający wszystkie aktualne konkursy internetowe w jednym miejscu. Znajdziesz tu konkursy z atrakcyjnymi nagrodami, przejrzystymi zasadami.
</h4>

<li>
<h4>
Zamieszczone informacje o konkursach mają charakter tylko informacyjny. Serwis nie jest ich organizatorem. Wszelkie pytania i reklamacje prosimy kierować bezpośrednio do organizatora danego konkursu.
</h4>
</div>

