<html>
<head>

<meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″ />

<%= stylesheet_link_tag "style" %>
<%= csrf_meta_tag %>
<%= javascript_include_tag :defaults %>

<title>Konkursy - Panel administratora</title>

</head>

<body>

<div id="main">
<h1>Panel administratora</h1>


<div id="primaryContent_3columns">
<div id="columnA_3columns">
<%=yield%>
</div>
</div>

</div>
</body>

</html>
